In [1]:
#Routine stuff
import numpy as np
import pandas as pd
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report, confusion_matrix

In [2]:
#Importing the training dataset into dataframe
df = pd.read_csv("train.csv",delimiter=",")
df = df.drop('Unnamed: 0',axis=1)
df.CLASSIFICATION = pd.Categorical(df.CLASSIFICATION)
df['CODE'] = df.CLASSIFICATION.cat.codes #Converting classes (names) to codes
df = df.drop('CLASSIFICATION',axis=1)
df.head()

,apr,gmt,1993,writes,references,article,sender,people,university,1,...,palestine,spread,purchased,clark,remains,sad,kenneth,propulsion,officer,CODE
0,1,2,2,0,0,0,0,6,3,1,...,0,0,0,0,0,0,0,0,0,0
1,1,2,3,0,0,6,0,21,0,0,...,0,3,0,0,0,0,0,0,0,0
2,1,1,1,1,1,1,2,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1,1,1,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,0,1,1,1,1,0,0,2,...,0,0,0,0,0,0,0,0,0,0

In [3]:
data = df.values #training dataframe to numpy array
data

array([[ 1,  2,  2, ...,  0,  0,  0],
       [ 1,  2,  3, ...,  0,  0,  0],
       [ 1,  1,  1, ...,  0,  0,  0],
       ...,
       [ 1,  1,  1, ...,  0,  0, 19],
       [ 1,  1,  1, ...,  0,  0, 19],
       [ 1,  1,  0, ...,  0,  0, 19]], dtype=int64)

In [4]:
y_train = data[:,-1]#separating ouput
y_train

array([ 0,  0,  0, ..., 19, 19, 19], dtype=int64)

In [5]:
x_train = data[:,:-1] #separating input
x_train

array([[1, 2, 2, ..., 0, 0, 0],
       [1, 2, 3, ..., 0, 0, 0],
       [1, 1, 1, ..., 0, 0, 0],
       ...,
       [1, 1, 1, ..., 0, 0, 0],
       [1, 1, 1, ..., 0, 0, 0],
       [1, 1, 0, ..., 0, 0, 0]], dtype=int64)

In [6]:
#importing test dataset just like done for train dataset
df_test = pd.read_csv("test.csv",delimiter=",")
df_test = df_test.drop('Unnamed: 0',axis=1)
df_test.CLASSIFICATION = pd.Categorical(df_test.CLASSIFICATION)
df_test['CODE'] = df_test.CLASSIFICATION.cat.codes
df_test = df_test.drop('CLASSIFICATION',axis=1)
data_test = df_test.values
y_test = data_test[:,-1]
x_test = data_test[:,:-1]

In [8]:
clf = MultinomialNB()
clf.fit(x_train,y_train)
y_pred = clf.predict(x_test)
print(classification_report(y_test,y_pred))
print(confusion_matrix(y_test,y_pred))
#PREDICTIONS ON TESTING DATA

             precision    recall  f1-score   support

          0       0.68      0.74      0.71       200
          1       0.77      0.74      0.76       200
          2       0.72      0.81      0.76       200
          3       0.87      0.78      0.82       200
          4       0.84      0.88      0.86       200
          5       0.91      0.78      0.84       200
          6       0.77      0.88      0.82       200
          7       0.81      0.91      0.86       200
          8       0.88      0.94      0.91       200
          9       0.94      0.95      0.95       200
         10       0.94      0.91      0.92       200
         11       0.93      0.85      0.89       200
         12       0.73      0.75      0.74       200
         13       0.88      0.81      0.84       200
         14       0.91      0.90      0.90       200
         15       0.93      0.99      0.96       200
         16       0.71      0.83      0.77       200
         17       0.92      0.85      0.88       200
         18       0.73      0.52      0.60       200
         19       0.60      0.56      0.58       200

avg / total       0.82      0.82      0.82      4000

[[148   1   0   0   0   0   0   0   5   0   0   0   2   4   1   2   1   2
    0  34]
 [  2 149  12   5   5   4   5   1   2   0   1   2   4   2   4   0   0   1
    0   1]
 [  0  12 162   6   1   8   4   0   0   0   0   2   4   0   1   0   0   0
    0   0]
 [  0   3   9 156  11   0  10   0   0   0   0   0  10   0   1   0   0   0
    0   0]
 [  0   0   6   3 176   0   6   1   0   0   0   0   3   3   2   0   0   0
    0   0]
 [  0  10  24   1   2 156   2   1   0   1   0   0   1   1   1   0   0   0
    0   0]
 [  0   0   0   7   2   0 175   3   3   0   1   0   5   2   0   0   0   0
    1   1]
 [  0   1   2   0   0   0   4 182   3   0   2   1   1   0   0   0   4   0
    0   0]
 [  0   1   0   0   0   0   2   5 189   0   0   0   1   0   0   0   0   0
    1   1]
 [  0   0   0   0   0   0   3   0   0 190   5   0   0   0   0   0   0   0
    2   0]
 [  1   0   0   0   0   0   1   0   3   9 182   1   0   1   0   0   0   0
    2   0]
 [  0   4   2   0   2   2   1   2   0   0   1 171  10   1   1   0   2   0
    1   0]
 [  0   8   5   2   7   0   4  13   3   0   0   3 150   2   2   0   0   1
    0   0]
 [  8   3   1   0   0   0   2   7   3   0   2   0   6 163   1   0   0   0
    2   2]
 [  0   1   0   0   2   0   1   2   1   0   0   0   3   3 179   0   0   0
    4   4]
 [  0   0   1   0   0   1   0   0   0   0   0   0   0   0   0 198   0   0
    0   0]
 [  0   0   1   0   0   0   6   3   1   1   0   1   0   0   0   0 167   0
    9  11]
 [ 12   0   0   0   1   0   1   2   2   1   0   0   0   1   0   0   1 170
    6   3]
 [  2   1   1   0   1   0   1   2   1   0   0   1   0   3   3   0  51  11
  103  19]
 [ 45   0   0   0   0   1   0   1   0   0   0   1   5   0   1  14  10   0
   10 112]]

In [9]:
y_train_pred = clf.predict(x_train)
print(classification_report(y_train,y_train_pred))
print(confusion_matrix(y_train,y_train_pred))
#PREDICTIONS ON TRAINING DATA

             precision    recall  f1-score   support

          0       0.80      0.88      0.84       800
          1       0.86      0.85      0.86       800
          2       0.85      0.91      0.88       800
          3       0.88      0.87      0.88       800
          4       0.93      0.94      0.93       800
          5       0.95      0.90      0.92       800
          6       0.86      0.92      0.88       800
          7       0.90      0.95      0.93       800
          8       0.94      0.98      0.96       800
          9       0.95      0.97      0.96       800
         10       0.97      0.94      0.95       800
         11       0.98      0.91      0.94       800
         12       0.89      0.91      0.90       800
         13       0.95      0.92      0.93       800
         14       0.94      0.94      0.94       800
         15       0.96      0.99      0.97       797
         16       0.79      0.91      0.85       800
         17       0.95      0.90      0.92       800
         18       0.77      0.67      0.72       800
         19       0.72      0.58      0.64       800

avg / total       0.89      0.89      0.89     15997

[[703   1   0   0   0   0   0   2   4   0   0   1   0   3   2   6   3   4
    6  65]
 [  0 683  42  15  11  12   9   3   3   1   2   0   7   6   5   0   0   0
    0   1]
 [  0  20 728  22   2  11   3   0   0   0   5   0   4   0   2   0   0   0
    1   2]
 [  0   9  28 699  14   5  24   4   0   0   0   1  13   2   1   0   0   0
    0   0]
 [  0   3   9  15 754   0  12   0   0   0   0   0   5   0   0   0   0   0
    1   1]
 [  0  28  22   7   6 716   6   1   2   0   1   2   4   3   2   0   0   0
    0   0]
 [  1   4   5  17   8   0 732  13   4   0   0   1   9   2   2   0   1   0
    1   0]
 [  0   0   0   1   1   1  16 758   1   1   1   0  10   0   1   0   5   0
    3   1]
 [  0   0   0   0   0   0   9   3 786   0   0   0   2   0   0   0   0   0
    0   0]
 [  1   0   0   0   0   0   4   2   3 775  13   0   0   0   1   0   0   0
    1   0]
 [  0   0   0   0   0   2   1   5   8  24 753   0   4   0   0   0   0   0
    2   1]
 [  1  11   4   2   2   1   1   4   2   1   0 729   6   2   2   0  13   1
   17   1]
 [  1   6   4  16  11   1  19  12   0   2   1   1 725   0   0   0   0   1
    0   0]
 [  6  10   1   0   1   2   4   2   8   1   0   0   9 736   9   0   4   0
    4   3]
 [  0  13   2   0   1   1   7   3   4   1   2   0   5   3 750   0   2   0
    6   0]
 [  3   0   0   0   0   0   0   0   0   0   0   0   1   0   0 791   1   0
    0   1]
 [  0   0   0   0   0   0   0   3   3   3   0   8   3   1   0   1 731   1
   23  23]
 [  4   0   0   0   3   0   2   3   5   1   0   1   2   4   4   0   5 717
   42   7]
 [  6   0   3   1   0   0   5  14   5   6   2   3   1  10  10   0  97  27
  536  74]
 [154   2   4   0   0   0   2   6   1   0   0   0   5   3   5  28  68   5
   54 463]]